#products_page {
    padding-top: 30px;
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

#products_page> .accordian {
    width: 15%;

}

#products_page>.product_card {
    width: 83%;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 15px;
}

.product_card>div {
    border: 1px solid rgb(236, 235, 235);
}

.product_card>div:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.product_card>div>img {
    width: 100%;
    background-color: rgb(245, 243, 243);
}

.product_card>div>div {
    margin: auto;
    width: 95%;
}

.product_card>div>div>p:nth-child(1) {
    min-height: 40px;
}

.product_card>div>div>p:nth-child(2) {
    margin-bottom: -25px;
    font-size: 14px;
}

.product_card>div>div>div {
    display: flex;
    margin-bottom: -15px;
    align-items: center;
    justify-content: space-between;
}

.product_card>div>div>div>h5 {
    min-width: 15%;
    font-size: 16px;
}

.product_card>div>div>div>h5:first-child {
    color: black;
}

.product_card>div>div>div>h5:nth-child(2) {
    text-decoration: line-through
}

.product_card>div>div>div>button {
    width: 25%;
    height: 30px;
    border: 1.5px solid #4FBB90;
    background-color: transparent;
    color: #4FBB90;
    border-radius: 15px;
}

.product_card>div>div>div>button:hover {
    color: white;
    background-color: #4FBB90;
}

span {
    content: "+";
    color: rgb(29, 199, 160);
    font-weight: bold;
    font-size: 25px;
    display: flex;
    display: inline-block;
    margin-right: 4px;
    transition: all 0.5s;
}

.accordian-tab{
    width: 100%;
    margin: auto;
}
.accordian-content {
    max-height: 0px;
    overflow: hidden;
    transition: all .4s;
}

.accordian-checkbox:checked~.accordian-content {
    max-height: 100vh;
}

.accordian-checkbox:checked~label>span:hover {
    transform: rotate(360deg);
}

.accordian-checkbox {
    display: none;
}

label {
    display: inline-block;
    line-height: 40px;
    font-size: 16px;
    width: 100%;
    height: 40px;
    background-color: white;
    border-bottom: 1px solid rgb(208, 208, 208);
    cursor: pointer;
}

.accordian-content > ul > li {
    line-height: 30px;
    width: 110%;
    margin-left: -15px;
    font-size: 14px;
    border-bottom: 1px solid rgb(208, 208, 208);
    cursor: pointer;
}

a {
    text-decoration: none;
    color: gray;
}


/*---------- product Page MEDIA Quries- MEDIUM SCREEN----- */
@media all and (min-width:751px)  and (max-width:1024px) {
    #products_page>.product_card {
        width: 65%;
        display: grid;
        margin: auto;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: 15px;
    }
    #products_page> .accordian {
        width: 30%;
        margin-left: 15px;
    
    }
    /* #footer >p,
    #footer >h1 {
        display: none;
    }
    #footer_content{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: auto;
        gap: 5% 10%;
    }
    #footer_content>div:first-child{
        padding-left: 20px;
        padding-right: 20px;
    }
    #footer_content>div:first-child img{
        width: 60%;
    }
    #footer_content>div:nth-child(2){
        padding-top: 15px;
        padding-left: 20%;
    }
    #footer_content>div:nth-child(4){
        padding-left: 20%;
    } */
}



/*---------- product Page MEDIA Quries- SMALL SCREEN----- */
@media all and (min-width:401px)  and (max-width:750px) {

    #products_page{
        display: block;
    }
    #products_page>.product_card {
        width: 85%;
        display: grid;
        margin: auto;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        margin-top: 20px;
    }
    #products_page> .accordian {
        width: 90%;
        margin-left: 15px;
    
    }
    #footer{
        /* display: none; */
    }
    .product_card>div {
        /* border: 1px solid rgb(246, 0, 0); */
    }
    .product_card>div>img {
        width: 35%;
        height: 100%;
        display: inline;
        float: left;
        margin-right: 10px;
    }
    .product_card>div>div {
        margin: auto;
        width: 50%;
        /* border: 2px dotted black; */
        display: inline;
        float: left;
    }
    .product_card>div>div>div>button {
        border-radius: 5px;
        font-size: 12px;
        padding-left: 3px;
    }


}

/* ---------- product Page MEDIA Quries- VERY SMALL SCREEN-----

@media all and (min-width:100px)  and (max-width:400px) {
    #products_page{
        display: block;
    }
    #products_page>.product_card {
        width: 90%;
        display: grid;
        margin: auto;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        margin-top: 20px;
    }
    #products_page> .accordian {
        width: 100%;
        margin-left: 15px;
    
    }
    #footer{
        display: none;
    }
    .product_card>div {
        border: 1px solid rgb(246, 0, 0);
    }
    .product_card>div>img {
        width: 35%;
        height: 100%;
        display: inline;
        float: left;
        margin-right: 10px;
    }
    .product_card>div>div {
        margin: auto;
        width: 50%;
        border: 2px dotted black;
        display: inline;
        float: left;
    }

    .product_card>div>div>p:nth-child(1) {
        margin: 5px auto;
    }
    .product_card>div>div>div {

        margin-top: -15px;
    }
    .product_card>div>div>div>button {
        border-radius: 5px;
        font-size: 10px;
        padding-left: 3px;
    }

} */
