/* top section */
#topDisplay {
  width: 100%;
  height: 80px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  /***/
  background-color: #f6fbf8;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 0;
}
.container {
  text-align: center;
  justify-content: center;
  background-color: #f6fbf8;
  margin-top: 25px;
}
.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  max-width: 100%;
  width: 350px;
  background-color: #f6fbf8;
}
.progress {
  background-color: #f6fbf8;
  position: absolute;
}
.circle {
  background-color: whitesmoke;
}

/* designing icons */
.circle > a > .fa-cart-shopping {
  background-color: #47c09d;
  color: white;
  border-radius: 50%;
  font-size: 20px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 10px;
}
.circle > a > .fa-location-dot {
  color: white;
  border-radius: 50%;
  font-size: 20px;
  padding: 10px;
  background-color: #47c09d;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 10px;
}
.circle > a > .fa-calendar-day {
  color: white;
  border-radius: 50%;
  font-size: 20px;
  padding: 10px;
  background-color: #47c09d;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 10px;
}
.circle > a > .fa-wallet {
  color: white;
  border-radius: 50%;
  font-size: 20px;
  padding: 10px;
  background-color: #47c09d;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 10px;
}

/* Master Section */

#masterCard {
  display: flex;
  width: 95%;
  height: auto;
  margin: auto;
  margin-top: 25px;
  /* border: 1px solid black; */
  gap: 20px;
  margin-bottom: 200px;
}
.subMaster {
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  /* border: red 1px solid; */
  height: auto;
  width: 60%;
  margin-top: 10px;
}
.payment {
  color: black;
  font-size: 18px;
  font-weight: 500;
  margin-left: 10px;
  margin-top: 10px;
}
#paylayout {
  /* border: 1px solid purple; */

  height: auto;
  width: 98%;
  display: flex;
  margin-left: 10px;
  margin-top: 10px;
}
#paymentType {
  width: 22%;
  /* border: 1px solid firebrick; */
  margin: 10px;
  height: auto;
}
.pay-active {
  width: 103%;
  height: 25px;
  padding-top: 10px;
  padding-bottom: 3.5px;
  color: #47c09d;
  background-color: rgb(233, 232, 232);
  text-align: center;
  justify-content: center;
  font-weight: 500;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.pay {
  width: 100%;
  margin: 5px;
  padding-top: 10px;
  padding-bottom: 3.5px;
  height: 25px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}
.subMaster1 {
  margin: auto;
  /* border: blue 1px solid; */
  height: 100%;
  width: 40%;
  margin-top: 25px;
}
tbody {
  width: auto;
}
tbody > tr {
  margin: auto;
  height: 50px;
  width: 60%;
  border: 1px solid black;
  justify-content: space-around;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
tbody > tr > img {
  height: 80px;
  margin: 10px;
}
thead > tr > th {
  height: 80px;
  margin: 15px;
  text-align: center;
}
tbody > tr > td {
  height: 80px;
  margin: 15px;
  text-align: center;
}
table {
  width: 80%;
  margin: auto;
  text-align: center;
  justify-content: center;
  padding: 15px;
}
#paymentSubType {
  /* border: 1px solid yellowgreen; */
  width: 45%;
}
#cardDetails01 {
  display: flex;
  justify-content: space-between;
  margin-left: 5px;
  margin-right: 10px;
  padding: 5px;
  margin-top: 10px;
}
#cardDetails01 > div {
  font-size: 18px;
}
#CardInput {
}

hr {
  border: 0.1px solid lightgrey;
  width: 100%;
  margin: auto;
}
.fa-indian-rupee-sign {
  font-size: 18px;
}
#cardDetails02 {
  margin: 10px;
  width: 95%;
  height: 25px;
  /* border: 1px solid red; */
}
#cardDetails02 > input {
  border: none;
  height: 25px;
  width: 90%;
  font-size: 12px;
  color: gray;
  font-weight: 500;
}

/* right card */
#refCard {
  background-color: #f1e8e1;
  width: 80%;
  height: auto;
  margin: 10px;
  padding: 5px;
  border: 0.5px dashed orange;
  border-radius: 10px;
  align-items: center;
  font-weight: 600;
  color: black;
}
.fa-badge-percent {
  margin-left: 20px;
  font-weight: 900;
  color: rgb(211, 122, 12);
  margin-bottom: 5px;
}
.fa-angle-right {
  margin-left: 25px;
  margin-right: 10px;
  font-weight: 900;
  color: black;
  font-size: 20px;
  background-color: #f1e8e1;
}
/* this h2 is used in bill details */
h2 {
  color: black;
  text-align: left;
  margin-left: 20px;
  margin-top: 15px;
  font-size: 28px;
  font-weight: 500;
  font-family: "Quicksand", sans-serif;
}

#billContainer {
  height: auto;
  width: 90%;
  border: black 2px solid;
  margin: auto;
}

#displayTotal {
  background-color: #47c09d;
  width: 90%;
  margin: auto;
  margin-top: 20px;
  border-radius: 10px;
  height: 30px;
  margin-top: 10px;
  padding-top: 12px !important;
  margin-bottom: 10px;
  cursor: pointer;
}
#displayTotal > div {
  color: white;
  background-color: #47c09d;
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
  font-weight: 400;
}
spam > spam {
  background-color: #47c09d;
  color: white;
  padding-left: 5px;
  font-weight: 600;
  font-size: 14px;
}

/* footer */
/* #footer_content > div {
  background-color: #0d5241;
  width: 100%;
}
#footer1 {
  background-color: #0d5241;
  width: 100%;
}
#footer_content {
  background-color: #0d5241;
  width: 100%;
}
h4 {
  text-align: center;
}
div > p {
  background-color: #0d5241;
  color: white;
}
p > b {
  background-color: #0d5241;
  color: white;
} */
.ttl > spam {
  background-color: #47c09d;
}

/* //////////////////////////// */
@media all and (min-width: 400px) and (max-width: 750px) {
  body {
    /* background-color: greenyellow; */
  }
  #masterCard {
    display: block;
    margin-bottom: 100px;
  }
  .subMaster {
    width: 90%;
  }
  #paymentType {
    width: 35%;
  }
  .subMaster1 {
    margin: auto;
    /* border: blue 1px solid; */
    height: 100%;
    width: 90%;
    margin-top: 15px;
    margin-top: 50px;
  }
  #displayTotal {
    margin-top: 25px;
  }
  tbody > tr {
    width: 80%;
  }
  #refCard {
    text-align: center;
    margin: auto;
  }
  h2 {
    text-align: center;
  }
}
