/* top section */
#topDisplay {
  width: 100%;
  height: 80px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  /***/
  background-color: #f6fbf8;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 0;
}
.container {
  text-align: center;
  justify-content: center;
  background-color: #f6fbf8;
  margin-top: 25px;
}
.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  max-width: 100%;
  width: 350px;
  background-color: #f6fbf8;
}
.progress {
  background-color: #f6fbf8;
  position: absolute;
}
.circle {
  background-color: whitesmoke;
}

/* designing icons */
.circle > a > .fa-cart-shopping {
  background-color: #47c09d;
  color: white;
  border-radius: 50%;
  font-size: 20px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 10px;
}
.circle > a > .fa-location-dot {
  color: white;
  border-radius: 50%;
  font-size: 20px;
  padding: 10px;
  background-color: #47c09d;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 10px;
}
.circle > a > .fa-calendar-day {
  color: white;
  border-radius: 50%;
  font-size: 20px;
  padding: 10px;
  background-color: #47c09d;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 10px;
}
.circle > a > .fa-wallet {
  color: darkgrey;
  border-radius: 50%;
  font-size: 20px;
  padding: 10px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 10px;
}

/* Master Section */

#masterCard {
  display: flex;
  width: 95%;
  height: auto;
  margin: auto;
  margin-top: 20px;
  /* border: 1px solid black; */
  gap: 20px;
  margin-bottom: 200px;
}
.billTag {
  background-color: white;
  font-size: 22px;
  color: black;
  font-weight: 400;
}
.subMaster {
  margin: auto;
  /* border: red 1px solid; */
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  height: 180px;
  width: 60%;
  margin-top: 10px;
  padding: 10px;
  margin-top: 25px;
}
.subMaster1 {
  margin: auto;
  /* border: blue 1px solid; */
  height: 100%;
  width: 40%;
}
tbody {
  width: auto;
}
tbody > tr {
  margin: auto;
  height: 50px;
  width: 60%;
  border: 1px solid black;
  justify-content: space-around;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
tbody > tr > img {
  height: 80px;
  margin: 10px;
}
thead > tr > th {
  height: 80px;
  margin: 15px;
  text-align: center;
}
tbody > tr > td {
  height: 80px;
  margin: 15px;
  text-align: center;
}
table {
  width: 80%;
  margin: auto;
  text-align: center;
  justify-content: center;
  padding: 15px;
}
#delivery {
  display: flex;
  margin: auto;
  gap: 0px;
  /* border: 1px green solid; */
  margin-top: 10px;
  width: 100%;
  height: 120px;
}
#delivery1 {
  background-color: lightgrey;
  border: 1.3px solid darkgrey;
  border-radius: 10px;
  width: 40%;
  height: auto;
  padding: 5px;
  margin: 10px;
  text-align: center;
  margin-left: 5px;
}

#delivery1 > div:nth-child(1) {
  background-color: lightgray;
  font-size: 16px;
  color: black;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 20px;
}
#delivery1 > div:nth-child(2) {
  background-color: lightgray;
  margin-bottom: 15px;
}

#delivery2 {
  border: 1.3px solid darkgrey;
  border-radius: 10px;
  width: 60%;
  height: auto;
  padding: 5px;
  margin: 10px;
}
#delivery2 > div {
  text-align: center;
  font-size: 16px;
  color: black;
  font-weight: 500;
  margin-top: 20px;
}

/* right card */
#refCard {
  background-color: #f1e8e1;
  width: 80%;
  height: auto;
  margin: 10px;
  padding: 5px;
  border: 0.5px dashed orange;
  border-radius: 10px;
  align-items: center;
  font-weight: 600;
  color: black;
}
.fa-badge-percent {
  margin-left: 20px;
  font-weight: 900;
  color: rgb(211, 122, 12);
  margin-bottom: 5px;
}
.fa-angle-right {
  margin-left: 25px;
  margin-right: 10px;
  font-weight: 900;
  color: black;
  font-size: 20px;
  background-color: #f1e8e1;
}
/* this h2 is used in bill details */
h2 {
  color: black;
  text-align: left;
  margin-left: 20px;
  margin-top: 15px;
  font-size: 28px;
  font-weight: 500;
  font-family: "Quicksand", sans-serif;
}

#billContainer {
  height: auto;
  width: 90%;
  border: black 2px solid;
  margin: auto;
}

#displayTotal {
  display: flex;
  background-color: #47c09d;
  width: 90%;
  margin: auto;
  border-radius: 10px;
  height: 30px;
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
  padding-top: 12px !important;
  margin-bottom: 10px;
}
#displayTotal > div {
  color: white;
  background-color: #47c09d;

  margin-left: 15px;
  margin-right: 15px;
  font-weight: 400;
}
spam > spam {
  background-color: #47c09d;
  color: white;
  padding-left: 5px;
  font-weight: 600;
  font-size: 14px;
}
a {
  text-decoration: none;
}

/* footer */
#footer_content > div {
  background-color: #0d5241;
  width: 100%;
}
#footer1 {
  background-color: #0d5241;
  width: 100%;
}
#footer_content {
  background-color: #0d5241;
  width: 100%;
}
h4 {
  text-align: center;
}
div > p {
  background-color: #0d5241;
  color: white;
}
p > b {
  background-color: #0d5241;
  color: white;
}
.ttl > spam{
  background-color: #47c09d;
}
