
        body{
            padding: 0;
            margin: 0;
            padding-bottom: 0px;
            font-family: 'Quicksand', sans-serif;
        }
        *{
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            
        }

        /* <!-- ------------------------------------------------------NAVBAR------------------------------------------------------------ --> */
        #navbar{
            padding: 10px;
            margin-top: 10px;
            font-size: 16px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            margin-bottom: 25px;
            position: sticky;
            top: 0;
            left: 0;
            background-color: white;
            z-index: 2;
        }
        #logo{
            width: 10%;
        }
        #logo img{
            width: 100%;
        }
        #area>select{
            border: 0px;
        }
        #search{
            width: 45%;
        }
        #search>input{
            width: 100%;
            padding: 8px;
            border-radius: 30px;
            margin: auto;
            border: 0.5px solid gray;
            position: relative;
        }

        .fa-magnifying-glass{
            color: grey;
            position: absolute;
            margin-top: -25px;
            margin-left: 44%;
        }
        .fa-solid{
            color: grey;
           
        }

        /* <!-- ------------------------------------------------------------------------------------------------------------------ --> */
        #first-screen{
            /* margin-top: 50px; */
            width: 90%;
            margin: auto;
            display: flex;
            justify-content: space-evenly;
        }

        /* -----------------------------------------------swiper Part---------------------------------------------------- */
        #slider_window{
            width: 62%;
            border-radius: 10px;
        }

        .swiper{
            width: 100%;
            height: fit-content;
        }
        .swiper-slide img{
            width: 100%;
        }
           /* -----------------------------------------------swiper Part---------------------------------------------------- */
        
        #right_side{
            width: 35%;
            display: flex;
            flex-direction: column;
            align-content: space-between;
        }
        #right_side>div{
            width: 92%;
            
        }
        #right_side>div>img{
            width: 100%;
        }

        /* <!-- -------------------------------------------------CATEGORY----------------------------------------------------------------- --> */
        #category{
            width: 90%;
            margin: auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }
        #category>div{
            width: 24%;
        }
        #category>div>a>img{
            border-radius: 20px;
            width: 100%;
        }
       
       
        /* <!-- ----------------------------------------------------APP DOWNLOAD-------------------------------------------------------- --> */

        #app-download{
            width: 90%;
            margin: auto;
            display: flex;
        }

        #app-download>.mobilephoto{
            width: 50%;
            margin: auto;
        }

        .mobilephoto>img{
            width: 100%;
        }

        #app-download>.login_mobile{
            padding-top: 50px;
            width: 40%;
            display: block;
            
        }

        #app-download>.login_mobile>p:first-child{
            font-size: 35px;
            color: black;
        }

        .login_mobile>form{
            display: block;
            margin-top: 50px;
        }

        .login_mobile>form>input{
            width: 90%;
            padding: 15px;
            border-radius: 8px;
            margin-bottom: 20px;
            border: 1px solid grey;
            box-sizing: border-box;
        }

        /* <!-- -------------------------------------------------------FOOTER----------------------------------------------------------- --> */
        #foooter-cloud{
            width: 100%;
            margin-bottom: 0px;
        }
        #foooter-cloud>img{
            width: 100%;
        }
        #footer{
            /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
            color: rgb(172, 166, 166);
            padding: 15px;
            background-color: rgb(13, 82, 65);
            margin-top: -25px;
        }
        #footer>h1{
            color: white;
            font-weight: 100;
        }
        #footer>p{
            font-size: 12px;
            width: 90%;
            text-align: justify;
            margin: auto;
            
        }
        #footer>h3{
            text-align: center;
            
        }
        #footer_content{
            margin: auto;
            width: 90%;
            display: grid;
            grid-template-columns: repeat(4,1fr);
            gap: 100px;
        }
        
        #footer1 img{
            width: 100%;
        }
        
        #footer1>p{
            text-align: justify;
            margin-top: 30px;
        }
        #footer_content>div>p{
            margin: 5px;
            font-size: 12px;
            cursor: pointer;
            
        }
        #footer_content>div>p:first-child{
            color: white;
        }

    
    